<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Copia - La velada del año 3</title>
  </head>
  <body
    class="bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-zinc-800 via-slate-900 to-zinc-950"
  >
    <header id="landing-header" class="flex top-0 w-full justify-between">
      <div class="bg-white w-screen h-[20%] flex flex-grow items-center">
        <img
          class="w-[21%] h-[10%] object-cover mx-[1.2%] my-[2.8%]"
          src="https://lavelada.es/wp-content/uploads/2023/05/VeladaIII.png"
        />
        <div class="justify-end flex flex-grow h-[10%]">
          <a
            class="text-white border-[3px] bg-black border-black rounded font-medium px-0 py-2 text-xl hover:bg-neutral-700 hover:border-neutral-700 transition-colors backdrop-blur-md text-center w-[13%] mx-[4.5%]"
            href="#"><i>TIENDA</i></a
          >
        </div>
      </div>
    </header>
    <main class="overflow-x-hidden">
      <section
        id="boxers"
        class={`flex justify-between relative overflow-y-hidden overflow-x-hidden
		[&>div>img]:absolute [&>div>img]:bottom-0 
		[&>div>img]:w-auto 
		[&>div>img]:animate-ease-in-out [&>div>img]:animate-duration-1000
		h-[50vh] md:h-screen border-b border-white/10
		`}
      >
        <div>
          <div class="w-full flex flex-col gap-1 items-center">
            <img
              class="absolute h-[40%] top-[10%] left-0 right-0 mx-auto z-10 animate-rotate-y animate-duration-[1500ms]"
              src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/logo.webp"
              alt="Logo"
            />
          </div>
          <div
            class="absolute z-50 text-white h-[35%] w-full bottom-0 text-center animate-fade-up animate-duration-[2000ms] animate-delay-[1600ms]"
          >
            <h1 class="text-lg">1 DE JULIO</h1>
            <h2 class="text-lg font-medium">CIVITAS METROPOLITANO</h2>
            <h2 class="text-lg">TWITCH.TV/IBAI</h2>
          </div>
        </div>
        <div
          class="absolute flex insert-0 gap-x-2 left-1/2 -translate-x-1/2 justify-center"
        >
          <div
            class="w-2 h-screen bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-slate-500 via-slate-400 to-slate-300 animate-fade-down animate-duration-[700ms]"
          >
          </div>
          <div
            class="w-2 h-screen bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-slate-500 via-slate-400 to-slate-300 animate-fade-down animate-duration-[400ms]"
          >
          </div>
          <div
            class="w-2 h-screen bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-slate-500 via-slate-400 to-slate-300 animate-fade-down animate-duration-[700ms]"
          >
          </div>
        </div>
        <div class="relative w-full">
          <img
            class="z-50 left-0 h-[150%] top-0 animate-fade-right"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/coscu.webp"
            alt="Coscu"
          />
          <img
            class="z-40 left-[5%] h-[130%] top-[30%] animate-fade-right animate-delay-300"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/mayichi.webp"
            alt="Mayichi"
          />
          <img
            class="z-30 left-[17%] h-[120%] top-[40%] animate-fade-right animate-delay-500"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/viruzz.webp"
            alt="Viruzz"
          />
          <img
            class="z-20 left-[36%] h-[110%] top-[48%] animate-fade-right animate-delay-700"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/fernanfloo.webp"
            alt="Fernanfloo"
          />
          <img
            class="z-10 left-[48%] h-[100%] top-[50%] animate-fade-right animate-delay-1000"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/la-rivers.webp"
            alt="La-Rivers"
          />
          <img
            class="z-0 left-[52%] h-[90%] top-[54%] animate-fade-right animate-delay-[1300ms]"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/papigavi.webp"
            alt="Papigavi"
          />
        </div>
        <div class="relative w-full">
          <img
            class="z-50 right-0 h-[150%] top-0 animate-fade-left"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/german.webp"
            alt="German"
          />
          <img
            class="z-40 right-[5%] h-[130%] top-[30%] animate-fade-left animate-delay-300"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/amouranth.webp"
            alt="Amouranth"
          />
          <img
            class="z-30 right-[17%] h-[120%] top-[40%] animate-fade-left animate-delay-500"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/shelao.webp"
            alt="Shelao"
          />
          <img
            class="z-20 right-[36%] h-[110%] top-[48%] animate-fade-left animate-delay-700"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/luzu.webp"
            alt="Luzu"
          />
          <img
            class="z-10 right-[48%] h-[100%] top-[50%] animate-fade-left animate-delay-1000"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/rivers.webp"
            alt="Rivers"
          />
          <img
            class="z-0 right-[52%] h-[90%] top-[54%] animate-fade-left animate-delay-[1300ms]"
            src="https://646526e3906c57079154c976--lucky-profiterole-9dd47a.netlify.app/boxers/ampeter.webp"
            alt="Ampeter"
          />
        </div>
      </section>
      <section
        class={`flex justify-between relative overflow-y-hidden overflow-x-hidden
		h-[50vh] md:h-screen bg-white
		`}
      >
        <div
          class="relative flex flex-grow insert-0 gap-x-2 left-1/2 -translate-x-1/2 justify-center [&>div>img] p-[2%]"
        >
          <div class="[&>img]: w-[45%] pl-[3%] pt-[1%]">
            <img
              class="pb-[5%] animate-fade-right animate-duration-[2000ms]"
              src="https://lavelada.es/wp-content/uploads/2023/05/INH_INH_Retail_598_LaVeladadelAnoIIIConsigue20E_IMG_580x200_NA_H_1_ES_ES_Apr2023_.png"
              alt=""
            />
            <img
              class="animate-fade-up animate-duration-[2000ms]"
              src="https://lavelada.es/wp-content/uploads/2023/06/Baner550x180-02.png"
              alt=""
            />
          </div>
          <div class="px-[5%]">
            <img
              class="h-[65%] animate-fade-left animate-duration-[2000ms]"
              src="https://lavelada.es/wp-content/uploads/2023/05/alsaMap.jpg"
              alt=""
            />
          </div>
        </div>
      </section>

      <footer></footer>
    </main>
  </body>
</html>
